/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    background: tomato;
  }
  nav div {
    display: block;
  }
  nav ul {
    display: none;
  }
  header {
    text-align: center;
    background: royalblue;
  }
  header h1 {
    font-size: 1.2em;
  }
  article {
    max-width: 90%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  article {
    max-width: 15%;
  }
}
